@{
    ViewData["Title"] = "Default Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<html>
<body>
    <div class="container">
        <h2 style="text-align:center">Submit Page</h2>
        <br />
        <div class="form-row">
            <div class="col">
                <label>Select Your Name</label>
                <select id="employeeSelect" class="custom-select custom-select-sm" aria-label=".form-select-lg example">
                    
                </select>
            </div>
            <div class="col">
                <label for="Year">Enter Year</label>
                <input type="number" id="Year" value="2021" class="form-control form-control-sm" placeholder="Year" />
            </div>
            <div class="col">
                <label for="WeekOfYear">Enter Week Of Year</label>
                <input type="number" id="WeekOfYear" min="1" max="53" class="form-control form-control-sm" placeholder="Week" />
                <small id="weekHelp" class="form-text text-muted">Week must be entered between the numbers 1 and 53.</small>
            </div>
        </div>
        <br />
        <div id="submitButton">
            <button type="submit" id="Submit" class="btn btn-secondary">Submit</button>
        </div>
        <br />
        <div class="alert alert-danger" role="alert" id="errorText">
            <br>
        </div>
        <table id="showData" class="table">
        </table>
        <div id="insertDateButton">
            <br>
            <button type="submit" id="InsertDate" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Insert Date</button>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
    
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Inserting date is successful.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
      
            </div>
        </div>
        <div id="swTypeTable">
            <table id="swTypeBox">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>ST</td><td>NW</td><td>AL</td><td>HR</td><td>UL</td><td>SW</td><td>ML</td><td>W</td><td>PH</td>
                    </tr>
                    <tr>
                        <td>Short Term Working</td><td>Normal Working</td><td>Annual Leave</td><td>Health Report</td><td>Unpaid Leave</td><td>Smart Working</td><td>Marriage Leave</td><td>Weekend</td><td>Public Holiday</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

<script type="text/jscript">
        var insertDateButton = document.querySelector('#insertDateButton');
        var swTypeTable = document.querySelector('#swTypeTable');
        var errorText = document.querySelector('#errorText');
        var selectedEmployeeId, week, year,date;
        var urlEmployee = "/Employee/GetEmployees";
        var urlDate = "/Schedule/FirstDateOfWeek";
        $.get(urlEmployee, null, function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#employeeSelect").append("<option value=" + data[i].employeeId + ">" + data[i].employeeName + " " + data[i].employeeSurname + "</option>")
            };
        });
        $('#Submit').click(function () {
            date = [];
            selectedEmployeeId = document.getElementById("employeeSelect").value;
            var table = '<thead class="thead-dark"><tr><th scope="col">Name</th>';
            week = $('#WeekOfYear').val();
            year = $('#Year').val();
            var lengthOfWeek;
            var tableBody = '<tbody>';
            if (selectedEmployeeId > 0 && week > 0 && year > 0 && week < 53) {
                insertDateButton.style.visibility = 'visible';
                swTypeTable.style.visibility = 'visible';
                $.get(urlDate, { year: year, weekOfYear: week }, function (data) {
                    $.each(data, function (index, value) {
                        newValue = value.replace("T00:00:00", "");
                        table += "<th scope='col'>" + newValue + "</th>"
                        date.push(value);
                    });
                    table += "</tr></thead>";
                    $('#showData').html(table);
                    lengthOfWeek = data.length;
                    $.get(urlEmployee, null, function (data) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].employeeId == selectedEmployeeId) {
                                tableBody += "<tr><td scope='row'>" + data[i].employeeName + " " + data[i].employeeSurname + "</td>";
                            }
                        };
                        for (var i = 0; i < lengthOfWeek; i++) {
                            tableBody += "<td class='dropdown'><select id='dropdownid" + [i] + "' name = 'filter_for'><option value='ST'>ST</option><option value='NW'>NW</option><option value='AL'>AL</option><option value='HR'>HR</option><option value='UL'>UL</option><option value='SW'>SW</option><option value='ML'>ML</option><option value='W'>W</option><option value='PH'>PH</option></select ></td >"
                        };
                        $('#showData').append(tableBody);
                    });
                });
                
            }
            else {
                $('#errorText').html("You must fill in the blanks");
                errorText.style.visibility = 'visible';
                setTimeout(function () {
                    $('#errorText').html("");
                    errorText.style.visibility = 'hidden';
                }, 1000);
            }
        });
        $('#InsertDate').click(function () {
            var swType = [];
            for (var i = 0; i < 7; i++) {
                swType.push(document.getElementById("dropdownid" + [i]).value);
                $.ajax(
                    {
                        type: "POST",
                        url: "Schedule/InsertSchedule",
                        data: {
                            EmployeeId: selectedEmployeeId,
                            Date: date[i],
                            Week: week,
                            Year: year,
                            SwType: swType[i]
                        }
                    });
            };
        });

    </script>
</body>
</html>