@{
    ViewData["Title"] = "View Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<html>
<head>
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">View Page</h2>
        <br />
        <div class="col">
            <label for="Year">Enter Year</label>
            <input type="number" id="Year" value="2021" class="form-control form-control-sm" placeholder="Year" />
        </div>
        <div class="col">
            <label for="WeekOfYear">Enter Week Of Year</label>
            <input type="number" id="WeekOfYear" min="1" max="53" class="form-control form-control-sm" placeholder="Week" />
            <small id="weekHelp" class="form-text text-muted">Week must be entered between the numbers 1 and 53.</small>
        </div>

        <br />
        <div id="submitButton">
            <button type="submit" id="Submit" class="btn btn-secondary">List Your Schedule</button>
        </div>

        <br />
        <div class="alert alert-danger" role="alert" id="errorText">
            <br>
        </div>
        <table id="showData" class="table">
        </table>
        <div id="swTypeTable">
            <table id="swTypeBox">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>ST</td>
                    <td>NW</td>
                    <td>AL</td>
                    <td>HR</td>
                    <td>UL</td>
                    <td>SW</td>
                    <td>ML</td>
                    <td>W</td>
                    <td>PH</td>
                </tr>
                <tr>
                    <td>Short Term Working</td>
                    <td>Normal Working</td>
                    <td>Annual Leave</td>
                    <td>Health Report</td>
                    <td>Unpaid Leave</td>
                    <td>Smart Working</td>
                    <td>Marriage Leave</td>
                    <td>Weekend</td>
                    <td>Public Holiday</td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

<script type="text/jscript">
    $(document).ready(function () {
        var errorText = document.querySelector('#errorText');
        var urlEmployee = "/Employee/GetEmployees";
        var urlGetDates = "/Schedule/GetSchedules";
        var urlDate = "/Schedule/FirstDateOfWeek";
        var year,date,users,arrays;
        $.get(urlEmployee, null, function (data) {
            users = data.length;
        });
    $('#Submit').click(function () {
            date = [];
            var table = '<thead class="thead-dark"><tr><th scope="col">Name</th>';
            weekOfYear = $('#WeekOfYear').val();
            year = $('#Year').val();
            var tableBody = '<tbody>';
            if (weekOfYear > 0 && year > 0 && weekOfYear < 54) {
                swTypeTable.style.visibility = 'visible';
                $.get(urlDate, { year: year, weekOfYear: weekOfYear }, function (data) {
                    $.each(data, function (index, value) {
                        newValue = value.replace("T00:00:00", "");
                        table += "<th scope='col'>" + newValue + "</th>"
                        date.push(value);
                    });
                    table += "</tr></thead>";
                    $('#showData').html(table);
                    $.get(urlGetDates, null, function (value) {
                        var result = value.filter(p => p.week == weekOfYear && p.year == year);
                        arrays = [];
                        while (result.length > 0) {
                            arrays.push(result.splice(0, 7));
                        };
                        for (var i = 0; i < users; i++) {
                            if (typeof arrays[i] != "undefined") {
                                arrays[i].sort(function (a, b) {
                                    return new Date(a.date) - new Date(b.date)
                                });
                            }
                        };
                        $.get(urlEmployee, null, function (data) {
                            for (var i = 0; i < data.length; i++) {
                                tableBody += "<tr><td>" + data[i].employeeName + " " + data[i].employeeSurname + "</td>";
                                for (var x = 0; x < 7; x++) {
                                    if (typeof arrays[i] != "undefined") {
                                        tableBody += "<td>" + arrays[i][x].swType + "</td>";
                                    }
                                    else {
                                        tableBody += "<td>---</td>"
                                    }
                                };
                            };
                            $('#showData').append(tableBody);
                        });
                    });
                });
            }
            else {
                $('#errorText').html("You must fill in the blanks");
                errorText.style.visibility = 'visible';
                setTimeout(function () {
                    $('#errorText').html("");
                    errorText.style.visibility = 'hidden';
                }, 1000);
            }
        });
    });
</script>
</body>
</html>
