@using WorkSchedule.Controllers
@model WorkSchedule.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<html>
<head>

</head>
<body>
    <div class="container">
        <br />
        <div class="form-row">
            <div class="col">
                <label for="Year">Enter Year</label>
                <input type="number" id="Year" value="2021" class="form-control form-control-sm" placeholder="Year" />
            </div>
            <div class="col">
                <label for="WeekOfYear">Enter Week Of Year</label>
                <input type="number" id="WeekOfYear" min="1" max="53" class="form-control form-control-sm" placeholder="Week" />
                <small id="weekHelp" class="form-text text-muted">Week must be entered between the numbers 1 and 53.</small>
            </div>
        </div>
        <br />
        <div id="submitButton">
            <button type="submit" id="Submit" class="btn btn-secondary">Submit</button>
        </div>
        <br />
        <div class="alert alert-danger" role="alert" id="errorText">
            <br>
        </div>
        <table id="showData" class="table">
        </table>
        <p id="rData"></p>

    </div>

<script type="text/jscript">
        var errorText = document.querySelector('#errorText');
        var week, year;
        var swType = [];
        var date = [];
        var results = [];
        $('#Submit').click(function () {
            var urlDate = "/Schedule/FirstDateOfWeek";
            var urlEmployee = "/Employee/GetEmployees";
            var urlGetDates = "/Schedule/GetSchedules";
            var items = '<thead class="thead-dark"><tr><th scope="col">Name</th>';
            weekOfYear = $('#WeekOfYear').val();
            year = $('#Year').val();
            var tr = '<tbody>';
            if (weekOfYear > 0 && year > 0 && weekOfYear < 54) {
                $.get(urlDate, { year: year, weekOfYear: weekOfYear }, function (data) {
                    $.each(data, function (index, value) {
                        items += "<th scope='col'>" + value + "</th>"
                        date.push(value);
                    });
                    items += "</tr></thead>";
                    $('#showData').html(items);
                    lengthOfWeek = data.length;
                });
                
                //$.get(urlGetDates, null, function (data) {
                //    var result = data.filter(p => p.week == weekOfYear);
                //    for (var i = 0; i < result.length; i++) {

                //    }
                //});
                
                $.get(urlEmployee, null, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        tr += "<tr><td>" + data[i].employeeName + "</td>";
                        //for (var x = 0; x < lengthOfWeek; x++) {
                        //    tr += "<td>SWTYPE</td >"
                        //}
                        
                        $.get(urlGetDates, null, function (dateData) {
                            var result = dateData.filter(p => p.employeeId == data[i].employeeId);
                            console.log(result);
                            
                        });
                        console.log(data[i].employeeName)
                    }

                    $('#showData').append(tr);
                });
            }
            else {
                $('#errorText').html("You must fill in the blanks");
                errorText.style.visibility = 'visible';
                setTimeout(function () {
                    $('#errorText').html("");
                    errorText.style.visibility = 'hidden';
                }, 1000);
            }
        });

    </script>
</body>
</html>
