@{
    ViewData["Title"] = "View Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<html>
<head>
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">View Page</h2>
        <br />
        <div class="col">
            <label>Select Your Name</label>
            <select id="employeeSelect" class="custom-select custom-select-sm" aria-label=".form-select-lg example">
            </select>
        </div>
        <div class="col">
            <label for="Year">Enter Year</label>
            <input type="number" id="Year" value="2021" class="form-control form-control-sm" placeholder="Year" />
        </div>
        <div class="col">
            <label for="WeekOfYear">Enter Week Of Year</label>
            <input type="number" id="WeekOfYear" min="1" max="53" class="form-control form-control-sm" placeholder="Week" />
            <small id="weekHelp" class="form-text text-muted">Week must be entered between the numbers 1 and 53.</small>
        </div>

        <br />
        <div id="submitButton">
            <button type="submit" id="Submit" class="btn btn-secondary">List Your Schedule</button>

        </div>

        <br />
        <div class="alert alert-danger" role="alert" id="errorText">
            <br>
        </div>
        <table id="showData" class="table">
        </table>
        <p id="rData"></p>

    </div>

<script type="text/jscript">
        var errorText = document.querySelector('#errorText');
        var week, year, selectedEmployeeId;
        var swType = [];
        var date;
        var results = [];
        var urlEmployee = "/Employee/GetEmployees";
        $.get(urlEmployee, null, function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#employeeSelect").append("<option value=" + data[i].employeeId + ">" + data[i].employeeName + " " + data[i].employeeSurname +"</option>")
            };
        });
        $('#Submit').click(function () {
            date = [];
            selectedEmployeeId = document.getElementById("employeeSelect").value;
            var urlDate = "/Schedule/FirstDateOfWeek";
            var urlGetDates = "/Schedule/GetSchedules";
            var items = '<thead class="thead-dark"><tr><th scope="col">Name</th>';
            weekOfYear = $('#WeekOfYear').val();
            year = $('#Year').val();
            var tr = '<tbody>';
            if (selectedEmployeeId>0 && weekOfYear > 0 && year > 0 && weekOfYear < 54) {
                $.get(urlDate, { year: year, weekOfYear: weekOfYear }, function (data) {
                    $.each(data, function (index, value) {
                        newValue = value.replace("T00:00:00", "");
                        items += "<th scope='col'>" + newValue + "</th>"
                        date.push(value);
                    });
                    items += "</tr></thead>";
                    $('#showData').html(items);
                    lengthOfWeek = data.length;
                });

                $.get(urlEmployee, null, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].employeeId == selectedEmployeeId) {
                            tr += "<tr><td>" + data[i].employeeName + " " + data[i].employeeSurname + "</td>";
                        }
                    }
                    
                });

                $.get(urlGetDates, null, function (data) {
                    var result = data.filter(p => p.week == weekOfYear && p.year == year && p.employeeId == selectedEmployeeId);
                    result.sort(function (a, b) {
                        return new Date(a.date) - new Date(b.date)
                    });
                    for (var i = 0; i < result.length; i++) {
                        tr += "<td>"+result[i].swType+"</td >"
                    }
                    $('#showData').append(tr);
                });
            }
            else {
                $('#errorText').html("You must fill in the blanks");
                errorText.style.visibility = 'visible';
                setTimeout(function () {
                    $('#errorText').html("");
                    errorText.style.visibility = 'hidden';
                }, 1000);
            }
        });

    </script>
</body>
</html>
