@using WorkSchedule.Controllers
@model WorkSchedule.Models.ViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<script src="~/lib/jquery/dist/jquery.js"></script>
<html>
<head>
    
</head>
<body>
<p id="rData"></p>
<script>
    var url = "/Schedule/TellMeDate";
    $.get(url, null, function (data) {
        $("#rData").html(data);
    });
</script>

</body>
</html>
