table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

#insertDateButton {
    visibility: hidden;
}

#errorText {
    visibility: hidden;
}

#submitButton,#insertDateButton {
    text-align: center;
}

#Submit,#InsertDate {
    width: 300px;
    height: 40px;
}
